<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="bla bla bla bla bla bla - boga.io"/>
    <title>bla bla - boga.io</title>

    <style>
        body {
            font: normal .9375em/1.8 -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        }
        section {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) }

        h1 {
            font-size: 4em;
        }
    </style>

</head>
